.reveal .schedule {
    width: 75%;
    margin: 0 auto;
    text-align: left;
    font-size: 28px;
    color: #222222;
}

.reveal .schedule h2 {
    text-align: center;
    color: #174a7c;
}

.reveal .schedule li {
    margin-bottom: 12px;
}

.reveal .schedule .break {
    display: block;
    margin: 5px 0 12px 25px;
    color: #d97706;
    font-size: 22px;
}
